<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<div th:if="${not #lists.isEmpty(cart.cartItems)}">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.cartItems}">
            <td th:text="${item.book.title}"></td>
            <td th:text="${item.book.price}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(cart.cartItems)}">
    <p>The shopping cart is empty.</p>
</div>
<p>Total Price: <span th:text="${cart.totalPrice}"></span></p>
<a href="/checkout" type="button" class="btn btn-secondary mt-4">Checkout</a>
<a id="back" href="/" type="button" class="btn btn-secondary">Back to main page</a>
</body>
</html>
