<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<ul>
    <li th:each="book : ${cart.books}">
        <span th:text="${book.title}"></span> - <span th:text="${book.price}"></span>
        <form th:action="@{'/books/cart/remove/' + ${book.bookId}}" method="get">
            <button type="submit">Remove</button>
        </form>
    </li>
</ul>
<p>Total Price: <span th:text="${cart.totalPrice}"></span></p>
<a href="/checkout" type="button" class="btn btn-secondary mt-4">Checkout</a>
</body>
</html>
