<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Book Title</th>
        <th>Address</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">Order ID</td>
        <td th:text="${order.bookTitle}">Book Title</td>
        <td >[order.user.getAddress]</td>
        <td th:text="${order.status}">Status</td>
        <td>
            <form th:action="@{'/orders/' + ${order.id} + '/updateStatus'}" method="post">
                <select name="status">
                    <option value="PROCESSING">Processing</option>
                    <option value="SHIPPED">Shipped</option>
                    <option value="DELIVERED">Delivered</option>
                    <option value="CANCELLED">Cancelled</option>
                </select>
                <button type="submit">Update Status</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>